#contain {
    width: 230px;
    padding: 8px;
}
#contain .flex {
    display: flex;
    flex-direction: row;
    align-content: center;
}
#contain .flex p {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
    margin: 0 0 8px 0;
}
#contain .flex .title {
    width: 60px;
}
#contain .flex .desc {
    font-weight: bold;
}
#contain .qcCode {
    margin-top: 4px;
    margin-bottom: 16px;
}
#contain .qcCode img {
    width: 100px;
    height: 100px;
    display: none;
}
#contain .copyBox .copyInput {
    border: 1px solid #d8d8d8d8;
    border-right-color: black;
    height: 32px;
    font-size: 12px;
    color: #333333;
    line-height: 17px;
    width: 100%;
    padding: 0 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
    -webkit-tap-highlight-color: #d8d8d8;
    cursor: pointer;
}
#contain .copyBox .copyInput:focus{
    border: 1px solid #d8d8d8d8;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#contain .copyBox .copyBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 40px;
    border: 1px solid black;
    background: black;
    margin-bottom: 0;
    cursor: pointer;
}
#contain .copyBox .copyBtn img {
    width: 16px;
    height: 16px;
}